:root {
    --dark-purple-colour: #222244;
    --medium-purple-colour: #44318D;
    --light-purple-colour: #b789cc;
    --pink-colour: #D83F87;
    --light-grey-colour: #A4B3B6;

}
* { 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--light-purple-colour);
}

::-moz-selection {
    color: var(--dark-purple-colour);
    background: var(--light-purple-colour);
}
  
::selection {
    color: var(--dark-purple-colour);
    background: var(--light-purple-colour);
}

body {
    background-color: var(--dark-purple-colour);
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
    padding: 2rem;
}

h2 {
    font-size: 0.8rem;
}
a {
    text-decoration: none;
}

a:hover {
    color: var(--pink-colour);
}
.uil {
    font-size: 2rem;
}
.uil:hover {
    color: var(--pink-colour);
}



.enlace {
    text-decoration: underline;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 30px;
}
.logo {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: var(--light-purple-colour);
}
.menu {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 60px;
    font-size: 1.2rem;
}



.button {
    color: var(--dark-purple-colour);
    padding: 15px;
    border-radius: 30px;
    background-color: var(--pink-colour);
    font-weight: 800;
    box-shadow: 0px 5px 20px var(--pink-colour);
}

.button:hover {
    color: var(--dark-purple-colour);
    box-shadow: 0px 5px 50px var(--pink-colour);

}
.inicio {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 15%;

}
.img-container img {
    width: 300px;
    border: 20px solid var(--light-purple-colour);
}

.text-container {
    background-color: var(--medium-purple-colour);
}


.motivacion {
    height: 30%;
    padding: 100px;
    background-color: var(--purple-colour);
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    filter: blur(1);
}

.motivacion h1 {
    color: var(--dark-purple-colour);
}
.container-glassmorphism {
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.text {
    z-index: 10;
    height: 20%;

}

p {
    color: var(--light-purple-colour);
    padding: 30px;
    padding-top: 0;
    padding-bottom: 10px;
}

section {
    padding-bottom: 200px;
}

.experiencia {
    padding-top: 200px;
}

.experiencia p {
    color: var(--light-purple-colour);
}

.experiencia ul {
    padding-left: 50px;
    list-style: square;
}

.skills p {
    color: var(--light-purple-colour);
}
.contacto p {
    color: var(--light-purple-colour);
}
.social {
    padding: 40px;
    font-size: 80px;
}

footer {
    background-color: var(--light-purple-colour);
    padding: 40px;
}
footer p {
    color: var(--dark-purple-colour);
}
@media only screen and (max-width: 950px) {
    .header {
        display: block;
        width: 70%;
    }
    .menu {
        padding-top: 50px;
        font-size: 1rem;
    }

    .inicio {
        display: block;
        margin: auto;
    }

    .text-container {
        width: 345px;
    }
    .motivacion {
        width: 100%;
    }

    .skills img {
        width: 80%;
    }
}


